.prepare {
  display: grid;
  grid-template-columns: 42% 13% 42%;
  grid-template-rows: 15% 85%;
  gap: 10px 1px;
  grid-template-areas: "select-weight select-weight select-weight" "red-fighter div-fight blue-fighter";
  text-align: center;
  margin-top: 3%;
}
select {
  text-align-last: center;
}

app-select-fighter {
  display: contents;
}

.select-weight select {
  max-width: 50%;
}
.select-weight {
  display: flex;
  justify-content: center;
  grid-area: select-weight;
}

.red-fighter {
  min-height: 12em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-area: red-fighter;
}

.blue-fighter {
  min-height: 12em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-area: blue-fighter;
}

.div-fight {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: div-fight;
}

.result {
  margin-top: 3%;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "winner referee loser";
}

.winner {
  grid-area: winner;
  display: flex;
  justify-content: flex-end;
}

.referee {
  grid-area: referee;
  background-image: url("../../../assets/images/referee.jpg");
  background-repeat: no-repeat;
}

.loser {
  grid-area: loser;
  display: flex;
  justify-content: flex-start;
}
