<div class="grid-container">
  <div class="select-weight">
    <select [(ngModel)]="weightToShow" class="custom-select">
      <option value="null" *ngIf="weightToShow === null">Elija un peso:</option>
      <option
        *ngFor="
          let weightclass of simulatorService.fighters | noRepeat: 'weightclass'
        "
        [value]="weightclass"
        >Peso - {{ weightclass | titlecase }}</option
      >
    </select>
    <select [(ngModel)]="dateToShow" class="custom-select">
      <option value="null" *ngIf="dateToShow === null">Elija una fecha:</option>
      <option
        *ngFor="let date of simulatorService.fighters | noRepeat: 'date'"
        [value]="date"
        >Fecha - {{ date | date: "dd-MM-yyyy" }}</option
      >
    </select>
  </div>
  <div class="red-fighter" *ngIf="dateToShow !== null && weightToShow !== null">
    <select class="custom-select" [(ngModel)]="redFighter">
      <option value="null" *ngIf="redFighter === null">
        Elija un luchador:</option
      >
      <option
        *ngFor="
          let fighter of simulatorService.fighters
            | weight: weightToShow
            | dateRanking: dateToShow
        "
        [ngValue]="fighter"
        >{{ fighter.name }}</option
      >
    </select>
    <app-fighter-card
      color="red"
      [fighter]="redFighter"
      *ngIf="redFighter !== null"
    ></app-fighter-card>
  </div>
  <div
    class="blue-fighter"
    *ngIf="dateToShow !== null && weightToShow !== null"
  >
    <select class="custom-select" [(ngModel)]="blueFighter">
      <option value="null" *ngIf="blueFighter === null">
        Elija un luchador:</option
      >
      <option
        *ngFor="
          let fighter of simulatorService.fighters
            | weight: weightToShow
            | dateRanking: dateToShow
        "
        [ngValue]="fighter"
        >{{ fighter.name }}</option
      >
    </select>
    <app-fighter-card
      color="blue"
      [fighter]="blueFighter"
      *ngIf="blueFighter !== null"
    ></app-fighter-card>
  </div>
  <div class="div-fight"></div>
</div>
