<div class="prepare" [ngClass]="{ 'd-none': resultFight !== null }">
  <div class="select-weight">
    <select [(ngModel)]="weightToShow" class="custom-select">
      <option value="null" *ngIf="weightToShow === null">Elija un peso:</option>
      <option
        *ngFor="
          let weightclass of simulatorService.fighters | noRepeat: 'weightclass'
        "
        [value]="weightclass"
        >Peso - {{ weightclass | titlecase }}</option
      >
    </select>
    <select [(ngModel)]="dateToShow" class="custom-select">
      <option value="null" *ngIf="dateToShow === null">Elija una fecha:</option>
      <option
        *ngFor="let date of simulatorService.fighters | noRepeat: 'date'"
        [value]="date"
        >Fecha - {{ date | date: "dd-MM-yyyy" }}</option
      >
    </select>
  </div>
  <div class="red-fighter" *ngIf="dateToShow !== null && weightToShow !== null">
    <app-select-fighter
      [fighters]="
        simulatorService.fighters
          | weight: weightToShow
          | dateRanking: dateToShow
      "
      (onSelectFighter)="redFighter = $event"
    ></app-select-fighter>
    <app-fighter-card
      color="red"
      [fighter]="redFighter"
      *ngIf="redFighter !== null"
    ></app-fighter-card>
  </div>
  <div
    class="blue-fighter"
    *ngIf="dateToShow !== null && weightToShow !== null"
  >
    <app-select-fighter
      [fighters]="
        simulatorService.fighters
          | weight: weightToShow
          | dateRanking: dateToShow
      "
      (onSelectFighter)="blueFighter = $event"
    ></app-select-fighter>
    <app-fighter-card
      color="blue"
      [fighter]="blueFighter"
      *ngIf="blueFighter !== null"
    ></app-fighter-card>
  </div>
  <div class="div-fight" *ngIf="redFighter !== null && blueFighter !== null">
    <button class="btn btn-outline-danger" (click)="simulateFight()">
      FIGHT!
    </button>
  </div>
</div>
<app-result-fight
  [resultFight]="resultFight"
  *ngIf="resultFight !== null"
  (onNewFight)="newFight()"
  (onRepeatFight)="repeatFight()"
></app-result-fight>
