<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." />
  <div class="card-body">
    <h5 class="card-title">{{ fighter.name }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Peso: {{ fighter.weight }}</li>
    <li class="list-group-item">Altura: {{ fighter.height }}</li>
    <li class="list-group-item">Años: {{ fighter.birthdate }}</li>
    <li class="list-group-item">Alcance: {{ fighter.reach }}</li>
    <li class="list-group-item">Guardia: {{ fighter.stance }}</li>
  </ul>
</div>
