<div class="card" style="width: 18rem;">
  <img
    class="card-img-top"
    src="../../../assets/images/red-gloves-ufc.webp"
    alt="Red gloves"
  />
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h4><b> Ranking:</b> {{ fighter.rank }}</h4>
      </li>
      <li class="list-group-item">
        <h4><b> Altura:</b> {{ fighter.height }}</h4>
      </li>
      <li class="list-group-item">
        <h4><b> Edad:</b> {{ fighter.birthdate | dateToAge }}</h4>
      </li>
    </ul>
  </div>
</div>
