<form [formGroup]="userData" (submit)="loginUser()">
  <div class="form-group">
    <label for="alias">Alias</label>
    <input
      type="text"
      class="form-control"
      formControlName="alias"
      [ngClass]="{
        'is-invalid':
          userData.controls.alias.invalid && userData.controls.alias.dirty
      }"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      formControlName="password"
      [ngClass]="{
        'is-invalid':
          userData.controls.password.invalid && userData.controls.password.dirty
      }"
    />
  </div>
  <button [disabled]="userData.invalid" type="submit" class="btn btn-primary">
    Entrar
  </button>
</form>
