<form [formGroup]="userData">
  <div class="form-group">
    <label for="username">Usuario</label>
    <input
      type="text"
      class="form-control"
      formControlName="username"
      [ngClass]="{
        'is-invalid':
          userData.controls.username.invalid && userData.controls.username.dirty
      }"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      formControlName="password"
      [ngClass]="{
        'is-invalid':
          userData.controls.password.invalid && userData.controls.password.dirty
      }"
    />
  </div>
  <button
    (click)="loginUser()"
    [disabled]="userData.invalid"
    type="button"
    class="btn btn-primary"
  >
    Entrar
  </button>
</form>
