<nav class="navbar navbar-dark bg-dark" id="mynavbar">
  <div class="nav-item">
    <a
      class="nav-link"
      [routerLink]="['ranking']"
      routerLinkActive="text-danger"
      >RANKING</a
    >
  </div>
  <div class="nav-item">
    <a
      class="nav-link"
      [routerLink]="['simulator']"
      routerLinkActive="text-danger"
      >SIMULADOR</a
    >
  </div>
  <div class="nav-item">
    <a class="nav-link" [routerLink]="['shop']" routerLinkActive="text-danger"
      >TIENDA</a
    >
  </div>

  <div class="nav-item">
    <a class="nav-link" [routerLink]="['me']" routerLinkActive="text-danger"
      ><img src="../../../../assets/images/user-icon.png"
    /></a>
  </div>
</nav>
