<div class="card" style="width: 25rem;">
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h4><b> Alias:</b> {{ user.alias }}</h4>
      </li>
      <li class="list-group-item">
        <h4><b> Nombre:</b> {{ user.name }}</h4>
      </li>
      <li class="list-group-item">
        <h4><b> Apellidos:</b> {{ user.surname }}</h4>
      </li>
      <li class="list-group-item">
        <h4><b> Cumpleaños:</b> {{ user.birthdate | date: "dd-MM-yyyy" }}</h4>
      </li>
      <li class="list-group-item">
        <h4><b> Email:</b> {{ user.email }}</h4>
      </li>
      <li class="list-group-item">
        <h4><b> Password:</b> *****</h4>
      </li>
    </ul>
  </div>
</div>
